.place__url-heading {
font-style: normal;
color: #AAAAAA;
}

@media (max-width: 1022px) {
  .place__url-heading {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }
}

@media (min-width: 1022px) {
  .place__url-heading {
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
  }
}