.header__lang-link {
display: inline-block;
font-style: normal;
font-weight: 400;
list-style-type: none;
}

.header__lang-link:hover {
opacity: 0.3;
}

@media (min-width: 766px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 766px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}