.cover__link {
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  max-width: 1184px;
  background: color #000;
  margin-top: 92px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 1278px) {
  .cover__link {
    min-height: 740px;
    width: calc(100% - 96px);
  }
}

@media (max-width: 1278px) {
  .cover__link {
    min-height: 640px;
    margin-top: 90px;
  }
}

@media (max-width: 1022px) {
  .cover__link {
    min-height: 480px;
    margin-top: 91px;
}
}

@media (max-width: 766px) {
  .cover__link {
    min-height: 200px;
  }
}