.page {
  font-family: 'Inter';
  color: #FFFFFF;
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
  background-color:#2A2C2F;
}

@media (min-width: 320px) {
  .page {
    padding: 0 16px 0;
  }
}

@media (min-width: 768px) {
  .page {
    padding: 0 24px 0;
  }
}

@media (min-width: 1024px) {
  .page {
    padding: 0 48x 0;
  }
}
