.place__paragraph {
display: block;
margin-top: 0;
margin-bottom: 22px;
font-style: normal;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 766px) {
  .place__paragraph {
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }
}

@media (min-width: 766px) {
  .place__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }
}

@media (min-width: 1022px) {
  .place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
  }
}