.places {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color:#2A2C2F;
}


@media (min-width: 320px) {
  .places  {
    padding: 64px 0px 0;
    gap: 50px;
  }
}

@media (min-width: 768px) {
  .places  {
    padding: 88px 24px 0;
    gap: 73px;
  }
}

@media (min-width: 1024px) {
  .places  {
    padding: 92px 48px 0;
    gap: 80px;
  }
}

@media (min-width: 1280px) {
  .places  {
    padding: 92px 148px 0;
    gap: 80px;
  }
}