.place__image {
  width: 100%;
  height: 100%;
}

@media (min-width: 766px) {
  .place__image {
    grid-row-start: 2;
    grid-row-end: 4;
  }
}

@media (max-width: 766px) {
  .place__image {
    grid-row-start: 3;
    grid-row-end: 5;
  }
}
