.lead__subtitle {
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
text-align: center;
}

@media (max-width: 768px) {
  .lead__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
    margin: 16px auto 0;
  }
}

@media (min-width: 768px) {
  .lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    margin: 32px auto 0;
  }
}