.lead {
  background-color:#2A2C2F;
  margin-right: auto;
  margin-left: auto;
  max-width: 984px;
}

@media (min-width: 768px) {
  .lead {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .lead {
    padding: 0 48px 0;
  }
}

@media (min-width: 1280px) {
  .lead {
    padding: 0 148px 0;
  }
}