.lead {
  margin: 0 auto;
  background-color:#2A2C2F;
}

@media (min-width: 768px) {
  .lead {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .lead {
    padding: 0 48px 0;
  }
}

@media (min-width: 1280px) {
  .lead {
    padding: 0 148px 0;
  }
}