.cover__subtitle {
position: absolute;
margin: 0 auto;
font-style: normal;
text-align: center;
color: #FFF;
font-weight: 400;
left: 20%;
right: 20%;
font-size: 18px;
line-height: 22px;
max-width: 360px;
}

@media (min-width: 1278px) {
  .cover__subtitle {
    top: 429px;
  }
}

@media (max-width: 1278px) {
  .cover__subtitle {
    top: 379px;
  }
}

@media (max-width: 1022px) {
  .cover__subtitle {
    top: 299px;
  }
}

@media (max-width: 766px) {
  .cover__subtitle {
    top: 119px;
    font-size: 14px;
    line-height: 16px;
    max-width: 280px;
    left: 5%;
    right: 5%;
  }
}