.header__lang-link {
text-decoration: none;
font-style: normal;
width: 30px;
height: 28px;
color: #FFF;
margin-left: 18px;
}

.header__lang-link:hover {
  text-decoration: underline;
}

@media (min-width:768px) {
  .header__lang-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width:768px) {
  .header__lang-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
}