.header {
  display: grid;
  grid-template-columns: 176px 1fr;
  justify-content: space-between;
  text-align: end;
  background-color:#2A2C2F;
}

@media (min-width: 1278px) {
  .header {
    padding: 28px 48px 0;
  }
}

@media (max-width: 1278px) {
  .header {
    padding: 28px 48px 0;
  }
}

@media (max-width: 1022px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media (max-width: 766px) {
  .header {
    padding: 16px 16px 0;
  }
}