
.photo-grid {
  display: grid;
  max-width: 1280px;
}

@media (min-width: 318px) {
  .photo-grid {
    grid-template-columns: 1fr;
    gap: 12px;
    padding: 64px 16px 0;
  }
}

@media (min-width: 766px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
    padding: 88px 24px 0;
  }
}

@media (min-width: 1022px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 14px;
    padding: 92px 48px 0;
  }
}

@media (min-width: 1278px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
    padding: 82px 48px 0;
  }
}