.footer__link {
  text-decoration: none;
  font-style: normal;
  margin-right: 18px;
  color: white;
}

.footer__link:hover {
  text-decoration: underline;
    }
    
@media (min-width: 1280px) {
  .footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: 1280px) {
  .footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: 1024px) {
  .footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: 768px) {
  .footer__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: block;
    padding-top: 32px;
  }

  .footer__link:first-of-type {
    padding-top: 0;
  }
}
