.footer__link {
  text-decoration: none;
  font-style: normal;
  margin-right: 14px;
  color: white;
  font-weight: 400;
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__link:last-of-type {
  margin: 0;
}
    
@media (min-width: 766px) {
  .footer {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: 766px) {
  .footer__link {
    margin: 0;
    font-size: 24px;
    line-height: 24px;
    display: block;
    padding-top: 32px;
  }

  .footer__link:first-of-type {
    padding-top: 0;
  }
}