.intro {
  background-color:#2A2C2F;
}

@media (min-width: 320px) {
  .intro {
    padding: 99px 16px 0;    
  }
}

@media (min-width: 768px) {
  .intro {
    padding: 99px 24px 0;
  }
}

@media (min-width: 1024px) {
  .intro {
    padding: 99px 48px 0;
  }
}

@media (min-width: 1280px) {
  .intro {
    padding: 99px 148px 0;
  }
}