.intro {
  background-color:#2A2C2F;
}

@media (min-width: 320px) {
  .intro {
    padding: 99px 16px 0 16px;
  }
}

@media (min-width: 768px) {
  .intro {
    padding: 99px 24px 0 24px;
  }
}

@media (min-width: 1024px) {
  .intro {
    padding: 99px 286px 0 48px;
  }
}

@media (min-width: 1280px) {
  .intro {
    padding: 99px 442px 0 148px;
  }
}