.intro {
  max-width: 690px;
}

@media (min-width: 1280px) {
  .intro {
    padding: 99px 148px 0;
  }
}

@media (max-width: 1278px) {
  .intro {
    padding: 82px 48px 0;
  }
}

@media (max-width: 1022px) {
  .intro {
    padding: 88px 24px 0;
    max-width: 100%;
  }
}

@media (max-width: 766px) {
  .intro {
    padding: 64px 16px 0;
  }
}
