.lead__subtitle {
  font-style: normal;
  text-align: center;
  font-weight: 400;
}

@media (max-width: 766px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
    margin: 16px auto 0;
  }
}

@media (min-width: 766px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    margin: 32px auto 0;
  }
}