.cover__subtitle {
margin-top: 32px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
z-index: 2;
max-width: 360px;
position: relative;
text-align: center; 
margin-left: auto;
margin-right: auto;
}