.cover__subtitle {
font-style: normal;
text-align: center;
z-index: 2;
position: relative;
text-align: center; 
margin-left: auto;
margin-right: auto;
color: white;
}

@media (min-width: 768px) {
  .cover__subtitle {
    margin-top: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
  }
}

@media (max-width: 768px) {
  .cover__subtitle {
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    max-width: 250px;
  }
}