.cover {
  margin: 0 auto;
  position: relative;
  width: 1184px;
  height: 740px;
  background-color:#2A2C2F;
  margin-top: 92px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: contain;
}

@media (min-width: 1024px) and (max-width:1280px) {
  .cover {
      width: calc(100% - 96px);
      height: calc((100vw - 96px)*740/1184);
  }
}

@media (max-width: 1024px) {
  .cover {
      width: 100%;
      height: calc((100vw*640)/1024);
      margin-top: 90px;
  }
}

@media (max-width: 768px) {
  .cover {
      width: 100%;
      height: calc((100vw*480)/768);
      margin-top: 65px;
  }
}