.cover__title {
  margin: 0;
  color: #FFF;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  z-index: 2;
}

@media (min-width: 1278px) {
  .cover__title {
    padding-top: 245px;
  }
}

@media (max-width: 1278px) {
  .cover__title {
    padding-top: 195px;
  }
}

@media (max-width: 1022px) {
  .cover__title {
    padding-top: 115px;
  }
}

@media (max-width: 766px) {
  .cover__title {
    padding-top: 33px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    max-width: 250px;
  }
}