.cover__title {
  margin: 0;
  color: #FFFDFD;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  max-width: 700px;
}

@media (min-width: 1280px) {
  .cover__title {
    padding-top: 245px;
  }
}

@media (max-width: 1280px) {
  .cover__title {
    padding-top: 195px;
  }
}

@media (max-width: 1024px) {
  .cover__title {
    padding-top: 115px;
  }
}

@media (max-width: 768px) {
  .cover__title {
    padding-top: 33px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    max-width: 250px;
  }
}