.intro__title {
margin: 0;
font-style: normal;
font-weight: 900;
}

@media (min-width: 766px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
  }
}

@media (max-width: 766px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin-right: 50px;
  }
}