.lead__title {
margin: 0 auto;
font-style: normal;
text-align: center;
max-width: 720px;
}

@media (max-width: 766px) {
  .lead__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }
}

@media (min-width: 766px) {
  .lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
  }
}