@import url(../vendor/normalize.css);
@import url(../vendor/Inter/inter.css);
@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo.css);
@import url(../blocks/header/__lang-link.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title.css);
@import url(../blocks/lead/__subtitle.css);
@import url(../blocks/lead/__image.css);
@import url(../blocks/lead/__caption.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title.css);
@import url(../blocks/intro/__text.css);
@import url(../blocks/intro/__list.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item.css);

@import url(../blocks/places/places.css);
@import url(../blocks/places/place/place.css);
@import url(../blocks/places/place/__title.css);
@import url(../blocks/places/place/__image.css);
@import url(../blocks/places/place/__paragraph.css);
@import url(../blocks/places/place/__website/website.css);
@import url(../blocks/places/place/__website/__url-heading.css);
@import url(../blocks/places/place/__website/__link.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__title.css);
@import url(../blocks/cover/__subtitle.css);
@import url(../blocks/cover/__backgraund.css);
@import url(../blocks/cover/__link.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__link.css);
@import url(../blocks/footer/__copyright.css);