.place__title {
margin: 0;
font-style: normal;
}

@media (min-width: 1022px) {
  .place__title {
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 0 16px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
  }
}

@media (max-width: 1022px) {
  .place__title {
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 0 16px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
}