.cover__title {
  position: absolute;
  margin: 0 auto;
  color: #FFF;
  text-align: center;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  left: 10%;
  right: 10%;
}

@media (min-width: 1278px) {
  .cover__title {
    top: 245px;
  }
}

@media (max-width: 1278px) {
  .cover__title {
    top: 195px;
  }
}

@media (max-width: 1022px) {
  .cover__title {
    top: 115px;
  }
}

@media (max-width: 766px) {
  .cover__title {
    top: 33px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    max-width: 250px;
  }
}