.place {
  display: grid;
}

  @media (max-width: 766px) {
    .place {
      gap: 32px 25px;
      grid-template-columns: 1fr;
    }
  }
  
  @media (min-width: 766px) {
    .place {
      gap: 0 28px;
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 1022px) {
    .place {
      gap: 0 32px;
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 1278px) {
    .place {
      gap: 0 40px;
      grid-template-columns: fit-content(460px) 1fr;
    }
  }