.place__url-heading {
font-style: normal;
color: #AAA;
margin: 0;
font-weight: 400;
font-size: 12px;
letter-spacing: 0.2em;
}

@media (min-width: 1022px) {
  .place__url-heading {
    line-height: 170%;
  }
}

@media (max-width: 1022px) {
  .place__url-heading {
    line-height: 12px;
  }
}