.place__image {
  grid-row-start: 2;
  grid-row-end: 4;
  max-width: 100%;
  object-fit: cover;
  }

  @media (max-width: 768px) {
    .place__image {
      grid-row-start: 3;
      grid-row-end: 5;
    }
  }
